html,body
    display: block
    height: 100%
.mobile
    display: none
.central
    max-width: 92.44398124vw
    width: 93.75%
.home
    .wrapper
        section.central
            margin: 0 auto
            .scrollable_main_photography
                height: 34.132360604vw !important
                .items_glympse
                    figure
                        width: 92.287649818vw
                        img
                .watermark
                    @extend .marca-de-agua-md-minvielle-hd
                .navigation
                    a
                        height: 0.7816571131vw
                        width: 0.7816571131vw
            .wrapper_categories
                height: 8.0771235018vw
                a
                .browser
                    margin: ( -7.9729025534vw / 2 ) auto 0
                .prev
                    @extend .flecha-izquierda-hd
                .next
                    @extend .flecha-derecha-hd
                .disabled
                .scrollable_categories
                    height: 100%
                    width: 83.116206357vw
                    .items_categories
                        top: 50% !important
                        margin: -4.0385617509vw 0 0 !important
                        figure
                            height: 7.9729025534vw
                            width: 12.402292861vw !important
                            figcaption
                                bottom: 0.260552371vw
                                height: 1.5633142262vw
                                width: 99%
                                p
                                    @include font-mask( normal, em( 11, 16 ), em( 30, 11 ), $font, $white-color )
