/setup_/
/setup/
/manager/
/core/
/connectors/
/index.php
/config.core.php
/assets/components/
/bower_components/
/Code/templates/sass/.sass-cache
/Code/BD/
/Code/snippets/db/connection.php
/Code/snippets/libs/pp.config.ini
Code/templates/sass/custom-styles/tablet/.sass-cache/b16c1784d9d6e8813fc52093085f7d33f14856dd
Code/templates/sass/custom-styles/tablet/.sass-cache
Code/templates/sass/default-styles/.sass-cache