<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>[[++site_name]] - [[+pagetitle]]</title>
        <meta charset="[[++modx_charset]]">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="[[*description]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all" />
        <link rel="canonical" href="[[++site_url]][[~[[*id]]]]" />
        <!--meta http-equiv="cache-control" content="no-store" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" /!-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />

        <link rel="stylesheet" href="[[++site_url]]assets/css/main.css">
        <script src="[[++site_url]]assets/js/vendor/modernizr-2.6.2.min.js" async></script>
    </head>

    <body class="page bio">
        <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="55" viewBox="0 0 45 55">
            <defs>
                <g id="icon-menu">
                    <path class="path1" d="M2.813 8.438h39.375v8.438h-39.375zM2.813 19.688h39.375v8.438h-39.375zM2.813 30.938h39.375v8.438h-39.375z"></path>
                </g>
            </defs>
        </svg>        <div class="wrapper">
            <header class="central">
                <h1>
                    <a href="[[+site_url]]" title="MD Minvielle Photography Home" class="clearfix">[[++site_name]]</a>
                </h1>
                <a href="" title="Menu" class="cell mobile">
                    <svg class="icon icon-menu" viewBox="-9 5 61 37">
                        <use xlink:href="#icon-menu"></use>
                    </svg>
                </a>
                <nav class="clearfix desktop">
                    <ul class="clearfix">
                        <li>
                            <a href="[[++site_url]]" title="Home" target="_self">Home</a>
                        </li>
[[!getResources? 
    &parents=`19`
    &tplPath=`[[++assets_path]]../Code/chunks/`
    &tpl=`@FILE menu-list-item.html`
    &includeTVs=`1`
    &processTVs=`1`
    &tvPrefix=``
    &showUnpublished=`1`
    &showHidden=`0`
    &includeContent=`1`
    &sortby=`{"menuindex":"ASC","publishedon":"ASC","createdon":"ASC"}`
    &depth=`0`
    &tplCondition=`id`
    &conditionalTpls=`{"20":"@FILE menu-list-item-conditional.html"}`
 ]]

                    </ul>
                </nav>
            </header>
            <nav class="clearfix mobile">
                <p>Menu</p>
                <ul class="clearfix">
                    <li>
                        <a href="[[++site_url]]" title="Home" target="_self">Home</a>
                    </li>
[[!getResources? 
    &parents=`19`
    &tplPath=`[[++assets_path]]../Code/chunks/`
    &tpl=`@FILE menu-list-item.html`
    &includeTVs=`1`
    &processTVs=`1`
    &tvPrefix=``
    &showUnpublished=`1`
    &showHidden=`0`
    &includeContent=`1`
    &sortby=`{"menuindex":"ASC","publishedon":"ASC","createdon":"ASC"}`
    &depth=`0`
    &tplCondition=`id`
    &conditionalTpls=`{"20":"@FILE menu-list-item-conditional.html"}`
]]

                </ul>
            </nav>
            <section class="central">
                <h1>[[*pagetitle]]</h1>
[[!breadcrumbs?
    &showHomeCrumb=`1`
    &showCurrentCrumb=`1`
    &currentAsLink=`0`
    &crumbSeparator=`<span class="slash_crumb"> / </span>`
    &homeCrumbTitle=`Home`
    &homeCrumbDescription=``
    &respectHidemenu=`0`
]]                <section>
                    [[*content]]
                </section>
            </section>
            <footer class="central clearfix">
                <ul class="clearfix">
                    <li>
                        <a href="#" title="Facebook" target="_blank" class="clearfix">Facebook</a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" target="_blank" class="clearfix">Twitter</a>
                    </li>
                    <li>
                        <a href="#" title="Flickr" target="_blank" class="clearfix">Flickr</a>
                    </li>
                </ul>
                <p>Copyright 2014 All Rights Reserved</p>
            </footer>        
        </div>
        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" async></script-->
        <!--script>window.jQuery || document.write('<script src="[[++site_url]]assets/js/vendor/jquery-1.8.3.min.js"><\/script async>')</script-->
        <script src="[[++site_url]]assets/js/main.min.js" async></script>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
        </script-->
    </body>
</html>
