header
    height: 99px
    overflow: hidden
    h1
        @extend .mariano-dominguez-minvielle-logo-hd
nav
    margin: ( -22.4px / 2 ) auto 0
    ul
        li
            a
                @include font-mask( normal, em( 16, 16 ), em( 16, 16 ), $font, $text-normal )
                &:hover,&.active
            a[title="Mariano Dominguez Minvielle"]
footer
    margin: 20px 0 0 -46.875% !important
    position: relative
    p
        @include font-mask( normal, em( 12, 16 ), em( 30, 12 ), $font, $footer-text )
        margin: 0
