html,body
    background-color: $site-background
    display: table
    height: 100%
    width: 100%
header
    clear: right
    height: 5.3658536585vw //55px
    position: relative
    transition: all 0.5s ease
    z-index: 1
    h2
        bottom: 0
        display: block
        height: 4.0975609756vw
        left: 0
        margin: ( -4.0975609756vw / 2 ) auto 0
        position: absolute
        text-indent: -2000em
        transition: all 0.5s ease
        top: 50%
        width: 19.707317073vw
        a
            color: transparent
            display: block
            height: 100%
            position: relative
            width: 100%
            span
                display: inline-block
                height: auto
                float: left
                left: 0
                position: absolute
                top: 0
                width: 100%
                z-index: 0
            img, svg
                height: 100% !important
                left: 0
                top: 0
                position: absolute
                width: 100%
                z-index: 1
nav
    clear: right
    float: right
    margin: ( -23px / 2 ) auto 0
    position: absolute
    right: 0
    top: 50%
    >ul
        margin: 0 auto
        padding: 0
        >li
            border-right: 1px solid $text-normal
            box-sizing: border-box
            float: left
            padding: 0 1.9512195122vw
            position: relative
            &:first-child
                padding: 0 1.9512195122vw 0 0
            &:last-child
                border-right: 0 none transparent
                padding: 0 0 0 1.9512195122vw
                a
                    border-radius: 0.3902439024vw
                    border: 1px solid #e2de37
                    padding: 0.6829268293vw
            a
                @include font-mask( normal, em( 12, 16 ), em( 15, 12 ), $font, $text-normal )
                text-align: center
                text-decoration: none
                text-transform: uppercase
                &:hover,&.active
                    color: $text-active
                &:hover ~ ul
                    display: block
                    height: auto
                    transition: all 1s ease 1s
            a[title="Mariano Dominguez Minvielle"]
                color: $image-border
            ul
                background-color: $submenu-color
                border-radius: 0.487804878vw
                box-sizing: border-box
                display: none
                height: 0
                left: 0
                padding: 1.9512195122vw 0.9756097561vw 0.9756097561vw
                position: absolute
                transition: all 1s ease 1s
                top: 1.9512195122vw
                width: 17.56097561vw
                &:hover
                    display: block
                    height: auto
                    transition: all 1s ease 1s
                li
                    border-bottom: 1px solid $submenu-separator
                    border-right: 0 none transparent
                    box-sizing: border-box
                    clear: both
                    display: block
                    float: auto
                    padding: 0.487804878vw 0 0.487804878vw 1.4634146341vw
                    width: 100%
                    &:nth-child( 3n + 1 )
                        padding: 0.487804878vw 0 0.487804878vw 1.4634146341vw !important
                    &:nth-child( 2n )
                        padding: 0 0 0.487804878vw 1.4634146341vw
                    &:last-child
                        border: 0 none transparent
                    &.triangle
                        border-bottom: 0 none transparent
                        height: 2.9268292683vw
                        left: 0
                        padding: 0 !important
                        position: absolute
                        top: -2.9268292683vw
                        &:before
                            @include triangle( transparent, solid, 0, transparent, solid, 1.4634146341vw, $submenu-color, solid, 15px, transparent, solid, 15px )
                            content: ""
                            display: block
                            height: 0.9756097561vw
                            left: 2.4390243902vw
                            position: absolute
                            top: 1.4634146341vw
                            width: 2.9268292683vw
footer
    bottom: 5px
    box-sizing: border-box
    clear: both
    height: 2.9268292683vw
    left: 50%
    margin: 0 0 0 ( -93.75% / 2 ) !important
    padding: 0
    position: relative
    ul
        float: left
        margin: 0 0.9756097561vw 0 0
        padding: 0
        li
            float: left
            list-style: none inside
            margin: 0 0.243902439vw
            &:first-child
                margin:  0 0.243902439vw 0 0
            &:last-child
                margin: 0 0 0 0.2487804878vw
            a
                color: transparent
                &[title="Facebook"]
                    @extend .facebook
                &[title="Twitter"]
                    @extend .twitter
                &[title="Flickr"]
                    @extend .flickr
    p
        @include font-mask( normal, em( 9, 16 ), em( 13, 9 ), $font, $footer-text )
        float: left
        text-align: left
        text-transform: capitalize
    &.sticky
        position: absolute !important
.desktop
.mobile
    display: none
.central
    display: block
    margin: 0 auto
    //max-width: 960px
    width: 93.75%
    .B_crumbBox
        @include font-mask( normal, em( 16, 16  ), 1.5em, $font, $text-normal )
        display: block
        margin: 0 0 15px
        padding: 0
        width: 100%
        li
            display: inline-block
            list-style: none inside
            a
                text-decoration: none
                span
                    @include font-mask( normal, em( 12, 16  ), 1.5em, $font, $text-normal )
                    text-transform: uppercase
        .slash_crumb
            &:nth-child( 1n )
                display: none
            &:nth-child( 1n + 3 )
                display: inline
        .B_firstCrumb
            display: none
        .B_homeCrumb
        .B_crumb
        .B_lastCrumb
        .B_currentCrumb
            @include font-mask( normal, em( 12, 16  ), 1.5em, $font, $text-normal )
            text-transform: uppercase
.page
.wrapper
    display: table
    width: 100%

