html,body
    -webkit-overflow-scrolling: touch
    ::-webkit-scrollbar,:-webkit-scrollbar
        -webkit-appearance: none
        width: 8px
header
    height: 45px
    margin: 0 auto 13px
    h1
        background-position: -30px -9px
        background-size: 111% 140%
        width: 154px
nav
    background: #141414
    clear: none
    float: right
    height: 100%
    margin: 0
    overflow: hidden
    position: absolute
    right: 0
    transition: width 0.5s ease 0s
    top: 0
    width: 0
    z-index: 1
    &.active
        transition: width 0.5s ease 0s
        width: 215px
    p
        @include font-mask( bold, em( 18, 16 ), 1.5em, $font, #333333 )
        position: relative
        text-indent: 20px
        text-transform: uppercase
        &:after
            content: "x"
            cursor: pointer
            font-size: em( 20, 15 )
            line-height: 1em
            position: absolute
            right: 5%
            text-transform: lowercase
    ul
        margin: 0 auto
        padding: 0
        li
            border-right: 0 none transparent !important
            box-sizing: border-box
            clear: both
            float: auto
            padding: 15px 20px !important
            a
                @include font-mask( normal, em( 15, 16 ), 1.5em, $font, $text-normal )
                &:hover,&.active
                    color: $text-active !important
            a[title="Mariano Dominguez Minvielle"]
                color: $text-normal
footer
    height: auto
    padding: 16px 0 8px
    p
        @include font-mask( normal, em( 9, 16 ), em( 13, 9 ), $font, $footer-text )
.desktop
    display: none
.mobile
    display: block
.wrapper
.central
    max-width: 305px
    width: 305px
.icon
    display: inline-block
    width: 45px
    height: 45px
    fill: currentColor
.icon-menu
    /*fill: #fff210*/
.cell
    color: #fff210
    float: right
    font-size: em( 16, 16 )
    overflow: hidden
    width: 45px