@mixin font-mask ( $weight: normal, $size: em( 16, 16 ), $height: 1.5em, $family: $helvetica, $color: #000 )
    color: $color
    font:
        family: $family
        size: $size
        weight: $weight
    line-height: $height