

/* Start Sprite Master CSS */
.phone_frameless_hd,.phone_with_frame_hd,.contact-facebook-icon-hd,.contact-google-icon-hd,.contact-twitter-icon-hd,.contact-youtube-icon-hd{display: inline-block;background-repeat: no-repeat;background-image: url('../img/contact/sprite_contact_hd.png');}
.phone_frameless_hd{background-position:0px 0px;width:12px;height:11px;}
.phone_with_frame_hd{background-position:0px -11px;width:13px;height:12px;}
.contact-facebook-icon-hd{background-position:0px -23px;width:45px;height:45px;}
.contact-google-icon-hd{background-position:0px -68px;width:45px;height:45px;}
.contact-twitter-icon-hd{background-position:0px -113px;width:45px;height:45px;}
.contact-youtube-icon-hd{background-position:0px -158px;width:48px;height:45px;}
/* End Sprite Master CSS */

